html {
    font-family: "Open Sans";
    font-size: 16px;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/open-sans.woff2') format('woff2'), url('./fonts/open-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgba(96, 102, 208, 0.8);
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-transform: uppercase;
    color: #F2F2F2;
}

h4 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-container {
    padding-left: 5rem;
    text-align: center;
}

.quiz-container {
    position: absolute;
    top: 22%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    background: #FFFFFF;
    border-radius: 24px;
    margin-bottom: -50px;
    padding: 20px;
    width: 300px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

button {
    cursor: pointer;
    outline: none;
}

.btn-country {
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    color: rgba(96, 102, 208, 0.8);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.btn-country:hover {
    color: #FFFFFF;
    background-color: #F9A826;
    transition: 0.1s;
}

.question-quiz {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #2F527B;
    margin: 0;
}

em {
    color: green;
    font-style: normal;
}

.correct {
    background-color: green;
}

.flag {
    width: 84px;
    height: 54px;
}

.popup {
    position: absolute;
    position: absolute;
    top: 22%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #1D355D;
        margin: 0;
        padding-bottom: 2rem;
    }
}

#root {
    max-width: 1114px;
    margin: auto;
}

.next-btn-container {
    text-align: right;
}

.btn-next {
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    padding: 1rem 2rem;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}

.btn-try-again {
    border: 2px solid #1D355D;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #1D355D;
    background-color: white;
    padding: 1rem 2rem;
}

.btn-try-again:hover {
    background-color: #F9A826;
}

.btn-start {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: hotpink;
    border: none;
    border-radius: 6px;
}

b {
    color: lightgreen;
    font-size: 28px;
    line-height: 32px;
}