:root {
    --vertical-btn-padding: 1rem;
    --horizontal-btn-padding: 2rem;
}

html {
    font-family: "Poppins";
    font-size: 16px;
}

body {
    background-image: url(../images/background.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover 100vh;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: #F2F2F2;
}

h3 {
    color: #1D355D;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

h4 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
    margin: 0;
    padding-top: 77px;
    padding-bottom: 1rem;
}

#root {
    max-width: 1114px;
    margin: auto;
}

.header-container {
    text-align: center;
}

.quiz-container {
    position: relative;
    background: #FFFFFF;
    border-radius: 24px;
    max-width: 375px;
    margin: auto;
    padding: 20px;
    margin-bottom: 2rem;
    transition: max-width 0.5s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

button {
    cursor: pointer;
    outline: none;
}

.question-container {
    padding-block-start: calc(68px - 15px);
}

.content {
    img {
        position: absolute;
        bottom: -31px;
        right: -20px;
    }
}

.btn-country {
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    color: rgba(96, 102, 208, 0.8);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.btn-country:hover {
    color: #FFFFFF;
    background-color: #F9A826;
    transition: 0.1s;
}

.question-quiz {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #2F527B;
    margin: 0;
}

.flag {
    width: 84px;
    height: 54px;
}

.popup {
    position: absolute;
    position: absolute;
    top: 22%;
    left: 16%;
    height: 542px;
    padding-top: 46px;
    margin-top: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    background-color: white;
    padding-left: 113px;
    padding-right: 113px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #1D355D;
        margin: 0;
        padding-bottom: 2rem;
    }
}

.next-btn-container {
    text-align: right;
}

.btn-next {
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.btn-try-again {
    border: 2px solid #1D355D;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
    background-color: white;
    margin-top: 71px;
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
}

.btn-try-again:hover {
    background-color: #F9A826;
    color: #FFFFFF;
}

.btn-start {
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: hotpink;
    border: none;
    border-radius: 6px;
}

b {
    color: lightgreen;
    font-size: 28px;
    line-height: 32px;
}

.correct,
.incorrect {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.correct {
    background-image: url(../icons/check-tick.png);
    background-color: #60BF88;
}

.incorrect {
    background-image: url(../icons/wrong.svg);
    background-color: #EA8282;
}

@media (min-width: 768px) {
    .quiz-container,
    .popup {
        max-width: 464px;
        margin: auto;
    }
    // .header-container {
    //     text-align: center;
    // }
}