:root {
    --vertical-btn-padding: 1rem;
    --horizontal-btn-padding: 2rem;
}

html {
    font-family: "Poppins";
    font-size: 16px;
}

body {
    background-image: url(../images/background.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 141% 100%;
    position: relative;
    height: 1090px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: #F2F2F2;
    margin: 0;
}

h3 {
    color: #1D355D;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    // margin: 0;
    //padding-top: 15px;
}

h4 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #1D355D;
    margin: 0;
    padding-top: 40px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 464px;
    margin: 0 auto;
    h1 {
        align-self: start;
    }
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 464px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2rem;
    padding-top: 3rem;
    width: 400px;
    border-radius: 24px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    form {
        width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        button:nth-of-type(1) {
            margin-top: 0;
        }
    }
}

.question-container {
    width: 400px;
}

.quiz-container::before {
    content: '';
    width: 150px;
    height: 100px;
    position: absolute;
    top: -10%;
    left: 69%;
    background-image: url(../images/undraw_adventure.svg);
    background-position: right 100%;
    background-repeat: no-repeat;
    background-size: 150px 100px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
}

.btn-country,
#button:hover {
    background: #FFFFFF;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin-top: 25px;
    color: rgba(96, 102, 208, 0.8);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    gap: 46px;
    padding-left: 0;
}

.btn-country:hover {
    color: #FFFFFF;
    background-color: #F9A826;
    transition: 0.1s;
}

.letter {
    padding-left: 19px;
}

.question-quiz {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #2F527B;
    margin: 0;
}

.flag {
    width: 84px;
    height: 54px;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
}

.popup {
    background-color: white;
    width: 400px;
    margin: auto;
    padding-bottom: 33px;
    padding-top: 49px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #1D355D;
        margin: 0;
        padding-bottom: 2rem;
    }
}

.btn-next {
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border-radius: 12px;
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    align-self: flex-end;
}

.btn-try-again {
    border: 2px solid #1D355D;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
    background-color: white;
    margin-top: 40px;
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
}

.btn-try-again:hover {
    background-color: #F9A826;
    color: #FFFFFF;
}

.btn-start {
    padding: var(--vertical-btn-padding) var(--horizontal-btn-padding);
    font-size: 18px;
    line-height: 27px;
    color: #2F527B;
    background-color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin: auto;
}

b {
    color: lightgreen;
    font-size: 28px;
    line-height: 32px;
}

.correct,
.incorrect {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 46px;
}

#button {
    cursor: default;
}

.correct,
#correct:hover {
    background-image: url(../icons/check-tick.png);
    background-color: #60BF88;
    cursor: default;
    border: none;
}

.incorrect,
#incorrect:hover {
    background-image: url(../icons/wrong.svg);
    background-color: #EA8282;
    cursor: default;
    border: none;
}

@media(min-width: 550px) {
    .container {
        padding-top: 0;
    }
}